

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    outline: none;
    transition: all .2s linear;
    }
    
    
    .subhan{

        margin-left: 35%;
        
        
            }
        
        
        .zain{
        
        background-color: yellow;
        
        
        }
        
        .subhan{
        
        
        margin-left: 250px;
        
        }
    
    .navbar-brand{
    
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
    font-family: cursive;
    }
    
    .navbar-brand:hover{
    
    color: yellowgreen;
    
    }
    
    
    .container{

background-color: beige;

    }

    .container:hover{
    
        box-shadow: 4px 4px 5px rgba(0, 0, 0, .7);
    
    }
    
    
    
    .nav-link{
    
    font-size: 15px;
    border-radius: .5rem;
    /* padding: 5px 5px; */
    color: grey;
    margin-right: 30px;
    
    }
    .active, 
    .nav-link:hover{
    
    color: white;
    background: green;
    
    }
    .footer{
        padding: 40px 0;
        background-color: #ededed;
         width: 100%;
     }
     .footer .social{
         text-align: center;
         padding-bottom: 25px;
         color: #4b4c4d;
     
     }
     .footer .social a{
         font-size: 24px;
         color: inherit;
         border: 1px solid #ccc;
         width: 40px;
         height: 40px;
         line-height: 38px;
         display: inline-block;
         text-align: center;
         border-radius: 50%;
         margin: 0 8px;
         opacity: 0.75;
         
     }
     .footer .social a:hover{
         opacity: 0.9;
         background-color: white;
     
     }
     .footer ul{
         margin-top: 0;
         padding: 0;
         list-style: none;
         font-size: 18px;
         line-height: 1.6;
         margin-bottom: 0;
         text-align: center;
     }
     .footer ul a{
         color: inherit;
         text-decoration: none;
         opacity: 0.8;
     
     }
     .footer ul li{
         display: inline-block;
         padding: 0 15px;
         
     }
     .footer ul li a:hover{
         opacity: 1;
     
     }
     .footer .copy-right{
         margin-top: 15px;
         text-align: center;
         font-size: 13px;
         color: #aaa;
     }
     
      
 .ticker {
    height: 30px;
    overflow: hidden;
  }
  
  .ticker marquee {
    display: inline-block;
    margin-left: 10px;
  }
  
  .ticker-item {
    margin-right: 30px;
  }
  .ticker-wrap {
    overflow: hidden;
    position: relative;
    background-color: black;
    color: white;
    height: 60px;
}
.ticker-wrap .ticker-move {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    animation: ticker-scroll 20s linear infinite;
}
.ticker-wrap .ticker-move li {
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}
@keyframes ticker-scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}